<footer class="page-footer #1b5e20 green darken-4 ">
  <div class="container ">
    <div class="row ">
      <div class="col l6 s12">
        <h5 class="white-text">Desarrollado por:</h5>
        <p class="grey-text text-lighten-4">Julian David Cataño jaramillo</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Tecnologico de antioquia</h5>
        <ul>
          <li><a class="grey-text text-lighten-5" href="http://tdea.edu.co/">TdeA</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
      © 2019 Copyright Text
    </div>
  </div>
</footer>


<script src="js/bootstrap.js"></script>
<script src="js/bootstrap.bundle.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems);
        });
    </script>

</body>

</html>